@font-face {
  font-family: Orbitron;
  src: url("assets/fonts/Orbitron-Medium.ttf");
 }

 @font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
 }

 * {
    box-sizing: border-box;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;

  }
  
  .header {
    background-color: #2779a7;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: Orbitron;
    letter-spacing: 0.1em;
  }
  
  .nav-link {
    position: relative;
    padding: 0 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    color: #f3f5fa;
    transition: .5s;
  }

  .nav-link:hover{
    color: #eff0ba;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
  }

  html {
    scroll-behavior: smooth; 
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }
/*   .nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: .5s;
  }
 */  
 /* .nav-link:hover::after {
    opacity: 1;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  */